<h1>New Question</h1>

<div class="container">
  <div class="row justify-content-center">
    <col-4 class="col-md-6">
      <%= simple_form_for @question do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.input :topic_id, collection: @topics %>
        <%= f.button :submit %>
      <% end %>
    </col-4>
  </div>
</div>